body {
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

#logo {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: auto;
    width: 80vw;
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
}
